@charset "utf-8";

/*

	----------------------------------
	iewin.css
	IE5.0,IE5.5,IE6.0,IE7.0
	----------------------------------
	
*/

/* layout
---------------------------------------------*/
/* font-size
---------------------------------------------*/
	body, th, td {
		font-size: small;
	}

/* list
---------------------------------------------*/	

/* form
---------------------------------------------*/
	

/* winie5.x
---------------------------------------------*/
	@media tty {
	 i{content:"\";/*" "*/}} 
	 
		body, th, td {
			font-size: x-small;
		}
		 
		
		
		/*";}
	}/* */


	
	