@charset "utf-8";

/*

	----------------------------------
	module.css
	----------------------------------
	
*/


/*********************************************/
/*
/* base
/*
/*********************************************/

	body {
		background-color: #963;
	}
	h1 {
	}
	h2 {
		margin-top: 20px;
		margin-bottom: 5px;
	}
	ul {
		margin-left: 1em;
	}
	li {
		line-height: 1.6;
	}
	
/*********************************************/
/*
/* global
/*
/*********************************************/

	div.dColLeft {
		float: left;
	}
	div.dColRight {
		float: right;
	}

