@charset "shift_jis";

/***********************************************************
		common.css
************************************************************/


/* base font
---------------------------------------------*/
body {
	font-family: "Lucida Grande","Lucida Sans Unicode", "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", Sans-Serif;
	color: #4f4f4f;
	border-top: 8px solid #666666;
}
}
body{                   /*IE6*/
	/*font-size: small;*/
	font-size: 85%;
}
html>body{              /*Opera6*/
	/*font-size: x-small;*/
	/*font-size: small;*/
	font-size: 85%;
}
head:first-child+body{  /*latest browzer*/
	/*font-size: 12px;*/
	font-size: 14px;
}


/* table
---------------------------------------------*/
table, td, th {
	border-style: none;
}

/* img
---------------------------------------------*/
img {	
	border: none;
}

/* ul li
---------------------------------------------*/
ul,li {
	list-style: none;
	line-height: 1.4;
}

/* a
---------------------------------------------*/
a { color: #444; text-decoration: none; }
a:link { color: #444; text-decoration: none; }
a:visited { color: #444; text-decoration: none; }
a:active { color: #666; text-decoration: underline }
a:hover { color: #666; text-decoration: underline }

/* hide
---------------------------------------------*/
.hide {
	display: block;
	position: absolute;
	top: -5000px;
	left: -1000px;
}

/* float
---------------------------------------------*/
.right {
	float: right;
	clear: left;
}

/* clear
---------------------------------------------*/
.clear {
	display: block;
	clear: both;
	width: 1px;
	height: 1px;
	font-size: 0%;
	overflow: hidden;
}
html>body .clear {
	overflow: visible;
}

/* page-top
----------------------------------------------*/
.goTop {
	margin-top: 10px;
	clear: both;
	text-align: right;
	font-size: 10px !important;
	font-size: 75%;
	padding-top: 0 !important;
	padding-top: 4px;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
}
.goTop a {
	padding-right: 16px;
	background: url(../image/ico_gotop.gif) no-repeat right 50%;
}

/* skip navigation
----------------------------------------------*/
p#skipNavi {
	position: absolute;
	top: -5000px;
	left: -1000px;
}

/* easy clearing by PIE
----------------------------------------------*/
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {
    display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix { display: block; }
/* End hide from IE-mac */
